{% extends 'base.html' %}
{% block title %} Sathya Jothi Snacks {% endblock %}

{% block body %}
  
  <div class="container">
  	<h2 class="text-center mt-3"> Welcome to Sathya Jothi Snacks </h2>
  	<div class="row">
  		<a href="/products" class="btn btn-primary col m-3 btn-sm">Products</a>
  	</div>	
  	<div class="row">
  		<a href="/locations" class="btn btn-secondary col m-3 btn-sm">Locations</a>
  	</div>
  	<div class="row">
  		<a href="/movements" class="btn btn-info col m-3 btn-sm">Movement</a>
    </div>
    <div class="row justify-content-center">
        <a href="/report" class="btn btn-success col-8 btn-sm">Report</a>
    </div>
  </div>

{% endblock%}
